<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="CosmeticShop"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Cosmetic_AppMobile_Project"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Controller.Admin.ManageProduct.EditProductActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.LoginRegister.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.User.UserMainActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.LoginRegister.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>